---
layout: page
title: Abhijna Parigi
subtitle: This is my awesome website
bigimg:
 - "/img/coverphotos/image1.jpg" : "Field work in Arizona"
 - "/img/coverphotos/image2.jpg" : "Extracting venom from a giant centipede"
 - "/img/coverphotos/image5.jpg" : "I'm an electrophysiologist"
 - "/img/coverphotos/image6.jpg" : "Einstein and me"
 - "/img/coverphotos/image7.jpg" : "My two babies"
 - "/img/coverphotos/image9.jpg" : "Grasshopper mouse taking a peek"
 - "/img/coverphotos/image10.jpg" : "Talking biology at a bar"
 - "/img/coverphotos/image13.jpg" : "Making an agarose gel"
 - "/img/coverphotos/image14.jpg" : "When life gives you lemons"
 - "/img/coverphotos/image15.jpg" : "A beautiful California day"
 - "/img/coverphotos/image16.jpg" : "A field day in Arizona"
 - "/img/coverphotos/image17.jpg" : "A trip to white sands"
 - "/img/coverphotos/image18.jpg" : "Measuring electrical currents from cells"
 - "/img/coverphotos/image19.jpg" : "Because puzzles are fun"
 - "/img/coverphotos/image20.jpg" : "Can you see the fruit flies evolving?"


---
<!--
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.excerpt | strip_html | xml_escape | truncatewords: 50 }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
-->
